<div class="container">


  <div class="row">
    <div class="col s12">
      <div class="card hoverable z-depth-1">
        <div class="card-label">このサイトについて</div>
        <div class="card-content">
          <p>Find me in app/views/home/about.html.erb</p>
          <a href="https://twitter.com/ff14minions?ref_src=twsrc%5Etfw" class="twitter-follow-button" data-size="large" data-show-screen-name="false" data-lang="ja" data-show-count="false">フォローする</a>
        </div>
      </div>
    </div>


  </div>
</div>
