<div class="body">
  <div class="container">
    <div class="row">

      <div class="col s12">
        <div class="card hoverable z-depth-1">
          <div class="card-label">このサイトについて</div>
          <div class="card-content">
            <p>Find me in app/views/home/about.html.erb</p>
          </div>
        </div>
      </div>

    </div>
  </div>
</div>
