<div class="body">
  <div class="container">
    <div class="row">

      <div class="col s12">
        <div class="content__title z-depth-1">
          <strong>このサイトについて</strong>
        </div>
        <div class="content__body z-depth-1">
          <p>Find me in app/views/home/about.html.erb</p>
        </div>
      </div>

    </div>
  </div>
</div>
