<div class="body">
  <div class="container">
    <div class="row">

      <div class="col s12">
        <div class="card hoverable z-depth-1">
          <div class="card-label">ミニオン</div>
          <div class="card-content">
            <table>
              <thead>
                <tr>
                  <th></th>
                  <th>ミニオン名</th>
                  <th>カテゴリー</th>
                  <th></th>
                  <th></th>
                  <th>ユーザー取得率</th>
                </tr>
              </thead>
              <tbody>
                <% @minions.each do |minion| %>
                  <tr>
                    <td><%= image_tag "#{minion.image_url}" %></td>
                    <td><%= minion.name %></td>
                    <td><%= minion.category.name %></td>
                    <td>
                      <div class="valign-wrapper"><i class="material-icons">favorite_border</i></div>
                    </td>
                    <td><div class="chip">取得済</div></td>
                    <td class="right-align"><!-- 取得率 -->%</td>
                  </tr>
                <% end %>
              </tbody>
            </table>
            <div class="center">
              <%= paginate @minions %>
            </div>
          </div>
        </div>
      </div>

    </div>
  </div>
</div>
