/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require material_icons
 *= require_self
 */

@import "materialize/components/color-variables";
$primary-color: #3D5A99 !default;
@import 'materialize';

// 上書きしたクラス //
//

body {
  color: #846C63;
  background-color: #F6F4F1;
  display: flex; // Sticky Footer
  min-height: 100vh; // Sticky Footer
  flex-direction: column; // Sticky Footer
}

main {
  flex: 1 0 auto; // Sticky Footer
}

nav .brand-logo {
  padding-left: 15px;
  padding-right: 15px;
}

table {
  margin: 24px 0 24px 0;
}

td {
  padding: 5px;
}

th {
  padding: 5px;
}

.card {
  border-radius: 0 0 15px 15px;
}

.container {
  margin: 40px auto;
}

.page-footer {
  padding-top: 0;
}

.pagination {
  margin-top: 0;
  margin-bottom: 0;
}

// 作成したクラス //
//

.card-label {
  background-color: $primary-color;
  border-radius: 15px 15px 0 0;
  color: #FFFFFF;
}

.character-image-lg {
  margin-right: 34.5px;
}

.character-image-sm {
  margin-right: 15px;
}

.character-profile {
  margin-top: 5px;
  margin-bottom: 5px;
}

.infomation {
  background: image-url('background.jpg');
  background-size: cover;
  color: #FFFFFF;
}

.minion-image {
  margin: 6px;
}

.rate-title-lg {
  font-size: 58px;
}

.rate-title-sm {
  font-size: 29px;
}
