/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require material_icons
 *= require_self
 */

@import "materialize/components/color-variables";
$primary-color: #3D5A99 !default;
@import 'materialize';

body {
  background-color: #333333;
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}

main {
  flex: 1 0 auto;
}

.header__character-image {
  border-radius: 50%;
  height: 50px;
  width:  50px;
  vertical-align: middle;
}

.body {
  margin: 40px auto;
}

.content__title {
  color: #FFFFFF;
  background-color: $primary-color;
}

.content__body {
  color: #FFFFFF;
  background-color: #262626;
  padding: 20px 20px;
}

.pagination {
  text-align: center;
}

.user__profile--data {
  align-items: center;
  display:flex;
}

.user__minion-sort--list {
  display:flex;
  flex-wrap:wrap;
}

.user__minion-sort--image {
  margin: 6px;
}
